[user]
    name = Hleb Kastseika
    email = gkostejko@gmail.com
    username = hleb-kastseika
[core]
    autocrlf = input
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
